name: Daily merge videos json
permissions:
  contents: write


on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Run merge
        run: python merge_daily_to_master.py

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add public/videos_master.json
          git diff --cached --quiet || git commit -m "auto: update videos_master.json"
          git push
